@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: "Space Grotesk";
    src: local("Space Grotesk"), url("../public/fonts/SpaceGrotesk-VariableFont.ttf") format("truetype");
  }
  html {
    font-family: "Space Grotesk", sans-serif;
  }  
}





